<div class="containerr">  
   <h1 class="text-center">Public questions</h1> <br><br>
  {{#each questions}}
  <a href="/stoned/respondaquestion/{{id}}">
    <div class="wrapper">
        <button class="toggle">
        {{title}}
        <i class="fas fa-plus icon"></i>
        </button>
        <div class="content">
        </div>
    </div>
  </a>
  {{/each}}
</div> 