  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="https://datosdiana.blob.core.windows.net/dashboard/LoginImage.png" alt="">
        <div class="text">
          <span class="text-1">Make every question <br> you have</span>
          <span class="text-2">Let's start</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="https://datosdiana.blob.core.windows.net/dashboard/LoginImage.png" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
            <form action="/signin" method="POST">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="text" placeholder="Enter your username" name="username" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" placeholder="Enter your password" name="password" required>
                </div>
                <div class="button input-box">
                  <button class="btn btn-block btn-primary-outline">Sign In</button>
                </div>
                <div class="text sign-up-text">Don't have an account? <label for="flip"><a href="/signup">Sign up now</a></label></div>
              </div>
            </form>
        </div>
    </div>
  </div>
